// main: ../page.less

#home-carousel {
  .carousel-inner {
    .item {
      height: 550px;
      background-size: cover;
      background-repeat: no-repeat;
      .carousel-caption {
        text-align: left;
        padding: 0 15px;
        top: 35%;
        right: 50%;
        left: 10%;
        @media (max-width: 991px) {
          right: 20%;
          top: 25%;
        }
        @media (max-width: 767px) {
          right: 5%;
          top: 15%;
          left: 5%;
        }
        p {
          text-shadow: none;
          &.blue-box {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              left: -100px;
              top: 7px;
              background-color: @blue;
              height: 40px;
              width: 278px;
              z-index: -1;
            }
          }
          &.head-2 {
            @media (max-width: 767px) {
              font-size: 18px;
            }
          }
          &.head-3 {
            @media (max-width: 767px) {
              font-size: 16px;
            }
          }
        }
      }
      .wrap {
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
        height: 100%;
        @media (min-width: 768px) {
          width: 750px;
        }
        @media (min-width: 992px) {
          width: 970px;
        }
        @media (min-width: 1200px) {
          width: 1170px;
        }
      }
    }
  }
}

#about-carousel {
  .carousel-inner {
    .they-head {
      position: absolute;
      top: 80px;
      color: white;
      font-size: 46px;
      left: 0;
      z-index: 1;
      right: 0;
      text-align: center;
      letter-spacing: 2px;
    }
    .item {
      background-size: cover;
      background-repeat: no-repeat;
      height: 600px;
      .carousel-caption {
        @media (min-width: 768px) {
          top: 200px;
        }
        p.desc {
          .f-18;
          font-style: italic;
        }
        ul {
          margin: 0 auto;
          li {
            display: inline-table;
            vertical-align: middle;
            padding: 20px;
            img {
              height: 80px;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }
}
