// main: ../page.less

// colors
.white {
  color: @white;
}

.text-black {
  color: @text-black;
}

.blue {
  color: @blue;
}

.bg-grey {
  background-color: @bg-grey;
}

// padding
.no-padding {
  padding: 0 !important;
}

// margin
.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}

.mb-0 {
  margin-bottom: 0;
}

// fonts

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.f-36 {
  font-size: 36px;
}

.f-22 {
  font-size: 22px;
}

.f-18 {
  font-size: 18px;
}

.f-16 {
  font-size: 16px;
}

.f-14 {
  font-size: 14px;
}

.f-12 {
  font-size: 12px;
}

.banner-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
}

// posiiton

.position-wrap {
  border: 1px solid fade(@black, 10%);
  border-radius: 10px;
  .accrd-head {
    padding: 15px;
    cursor: pointer;
    p {
      margin-bottom: 0;
      letter-spacing: 1px;
      i {
        float: right;
        right: 20px;
        top: 5px;
        transition: all 0.2s ease;
      }
    }
  }
  .accrd-body {
    padding: 20px 40px;
    border-top: 1px solid fade(@black, 10%);
    display: none;
    .light;
    .f-16;
    letter-spacing: 1px;
    // height: 0;
    &.block {
      display: block;
    }
  }
}

.down {
  transform: rotateZ(90deg);
}

#myModal {
  .modal-dialog {
    @media (min-width: 768px) {
      width: 700px;
    }
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    border: none;
  }
}
