// main: ../page.less

@charset "UTF-8";

@font-face {
  font-family: "better-group";
  src: url("../fonts/better-group.eot");
  src: url("../fonts/better-group.eot?#iefix") format("embedded-opentype"),
    url("../fonts/better-group.woff") format("woff"),
    url("../fonts/better-group.ttf") format("truetype"),
    url("../fonts/better-group.svg#better-group") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "better-group" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "better-group" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-wear:before {
  content: "\61";
}
.icon-fall:before {
  content: "\62";
}
.icon-first-aid:before {
  content: "\63";
}
.icon-foul-weather:before {
  content: "\64";
}
.icon-hand:before {
  content: "\65";
}
.icon-head:before {
  content: "\66";
}
.icon-hearing:before {
  content: "\67";
}
.icon-high-visibility:before {
  content: "\68";
}
.icon-offshore:before {
  content: "\69";
}
.icon-protective-clothing:before {
  content: "\6a";
}
.icon-respiratory:before {
  content: "\6b";
}
.icon-road-safety:before {
  content: "\6c";
}
.icon-footwear:before {
  content: "\6d";
}
.icon-security-safety:before {
  content: "\6e";
}
.icon-spill:before {
  content: "\6f";
}
.icon-welding:before {
  content: "\70";
}
.icon-twitter:before {
  content: "\71";
}
.icon-fb:before {
  content: "\72";
}
.icon-safety-signs:before {
  content: "\73";
}
.icon-fire-safety:before {
  content: "\74";
}
.icon-gas-detector:before {
  content: "\75";
}
.icon-scaff-tag:before {
  content: "\76";
}
.icon-security-safety-1:before {
  content: "\77";
}
.icon-security-seal:before {
  content: "\78";
}
.icon-lockout-tagout:before {
  content: "\79";
}
