// main: ../page.less

footer {
  background-color: @dark-blue;
  padding: 40px 0;
  ul.link-list {
    li {
      &:not(:first-child) {
        a {
          padding-top: 10px;
        }
      }
      a {
        .light;
        .f-12;
        text-transform: uppercase;
        color: darken(@blue, 5%);
        text-decoration: none;
        display: block;
        &:hover {
          color: @blue;
        }
      }
    }
  }
}
