// main: ../page.less

#header {
  height: 75px;
  background-color: @white;
  margin-bottom: 0;
  .navbar-brand {
    padding: 4px 15px;
    img {
      height: 68px;
    }
  }
  ul.navbar-content {
    @media (max-width: 767px) {
      background-color: @white;
    }
    li {
      padding: 20px 5px;
      @media (max-width: 991px) {
        padding: 20px 0;
        a {
          font-size: 12px;
        }
      }
      @media (max-width: 767px) {
        padding: 5px;
        a {
          display: inline-block;
        }
      }
      a {
        padding: 5px 10px;
        text-transform: uppercase;
        .light;
        color: @black;
        border-radius: 4px;
        transition: all 0.2s ease-in;
        background-color: transparent;
        &:hover {
          color: @white;
          background-color: @blue;
          .bold;
        }
      }
    }
  }
}

.navbar-toggle.navbar-mobile {
  margin-top: 14px;
  .icon-bar {
    background-color: @text-black;
  }
}

// pre-loader

@offset: 187;
@duration: 1.4s;
#pre-loader {
  background-color: @white;
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  svg {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
  }
  .spinner {
    animation: rotator @duration linear infinite;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: @offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash @duration ease-in-out infinite,
      colors (@duration*4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: @blue;
    }
    100% {
      stroke: @blue;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: @offset;
    }
    50% {
      stroke-dashoffset: @offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: @offset;
      transform: rotate(450deg);
    }
  }
}
