// main: ../page.less

.border-wrap {
  position: relative;
  span {
    &.top {
      height: 50px;
      display: inline-block;
      width: 50px;
      float: right;
      border-right: 1px solid @text-black;
      border-top: 1px solid @text-black;
    }
    &.btm {
      height: 50px;
      display: inline-block;
      width: 50px;
      border-bottom: 1px solid @text-black;
      border-left: 1px solid @text-black;
      position: relative;
      right: 25px;
    }
  }
  .block {
    width: 100%;
    float: left;
    height: 25px;
  }
  .mr {
    @media (min-width: 991px) {
      margin-right: 60px;
    }
  }
}

.b-items {
  @media (max-width: 991px) {
    // margin: 0 15px;
  }
  &.next {
    .item-content {
      &:nth-child(even) {
        background-color: @white;
        &:hover {
          // background-color: fade(@dark-grey, 60%);
        }
      }
      &:nth-child(odd) {
        background-color: @dark-grey;
        &:hover {
          // background-color: fade(@white, 60%);
        }
      }
    }
  }
  .item-content {
    padding: 40px 15px;
    height: 169px;
    transition: all 0.3s ease-in;
    &:hover {
      i {
        color: lighten(@blue, 20%);
        transform: translateY(-5px);
      }
      p {
        color: @black;
      }
    }
    &:nth-child(odd) {
      background-color: @white;
      &:hover {
        background-color: fade(@white, 20%);
      }
    }
    &:nth-child(even) {
      background-color: @dark-grey;
      &:hover {
        background-color: fade(@dark-grey, 20%);
      }
    }
    &.null {
      background-color: transparent;
    }
    .light;
    i {
      color: @blue;
      font-size: 44px;
      transform: translateY(0);
      display: block;
      transition: all 0.3s ease-out;
    }
    p {
      font-size: 12px;
      text-transform: uppercase;
      transition: all 0.3s ease-out;

      // .mb-0;
    }
  }
}
