// main: ../page.less

.btn-blue.btn-default {
  background-color: @blue;
  .white;
  .bold;
  border: none;
  .f-16;
  padding: 10px 15px;
  &:hover,
  &:focus {
    background-color: darken(@blue, 5%);
    box-shadow: none;
    color: @white;
  }
}
