// main: ../page.less

.about-banner {
  background-image: url("@{base-url}about-banner.jpg");
  .head {
    margin-top: 140px;
  }
}

.about-red {
  margin: 40px 0;
  @media (min-width: 768px) {
    margin: 80px 0;
  }

  img {
    margin: 0 auto;
    height: 80px;
  }
  span {
    background-color: #f44336;
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 80px;
    border-radius: 57px;
    i {
      color: @white;
      font-size: 34px;
      line-height: 80px;
    }
  }
  p {
    color: @text-black;
    letter-spacing: 2px;
    &:first-of-type {
      text-transform: uppercase;
      .f-18;
      .bold;
    }
    &:last-of-type {
      .light;
      .mb-0;
    }
  }
}

//contact

.contact-form {
  .form-group {
    margin-bottom: 20px;
    .form-control {
      border-radius: 2px;
      box-shadow: none;
      padding: 18px 8px;
      letter-spacing: 1px;
      &:focus {
        border-color: fade(@text-black, 60%);
      }
    }
    textarea {
      resize: none;
    }
    .placeholder;
  }
}

.placeholder {
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    .light;
    letter-spacing: 1px;
    color: fade(@text-black, 60%);
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    .light;
    letter-spacing: 1px;
    color: fade(@text-black, 60%);
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    .light;
    letter-spacing: 1px;
    color: fade(@text-black, 60%);
  }
  :-moz-placeholder {
    /* Firefox 18- */
    .light;
    letter-spacing: 1px;
    color: fade(@text-black, 60%);
  }
}

.contact-block {
  table.table {
    margin-bottom: 0;
    tr {
      td {
        &:first-child {
          width: 50px;
        }
        border: none;
        i {
          color: @blue;
        }
        p {
          letter-spacing: 1px;
          &:first-of-type {
          }
          &:last-of-type {
          }
        }
      }
    }
  }
}

// product

.product {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .item {
    padding: 20px;
    &:hover {
      border-color: @blue;
      img {
        transform: scale(1.1);
      }
      & + p {
        color: @blue;
      }
    }
    cursor: pointer;
    border: 1px solid fade(@black, 20%);
    img {
      transition: all 0.2s ease;
      margin: 0 auto;
      transform: scale(1);
    }
    & + p {
      text-transform: uppercase;
    }
    i {
      font-size: 30px;
    }

    &.main {
      height: 100px;
      border: none;
      transition: all 0.2s ease;
      padding: 10px;
      color: fade(@black, 60%);
      &:hover {
        color: @blue;
        border-color: @blue;
      }
      p {
        text-transform: uppercase;
        .mb-0;
        .f-12;
      }
    }
  }
}

// new

.new-wrap {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .new-item {
    -webkit-box-shadow: 0 0 5px #d1d3d4;
    -o-box-shadow: 0 0 5px #d1d3d4;
    -moz-box-shadow: 0 0 5px #d1d3d4;
    box-shadow: 0 0 5px #d1d3d4;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .content {
      padding: 20px 10px;
      p {
        letter-spacing: 1px;
      }
    }
    &:hover {
      -webkit-box-shadow: 0 10px 15px #d1d3d4;
      -o-box-shadow: 0 10px 15px #d1d3d4;
      -moz-box-shadow: 0 10px 15px #d1d3d4;
      box-shadow: 0 10px 15px #d1d3d4;
      -moz-transform: translate(0, -2px);
      -o-transform: translate(0, -2px);
      -ms-transform: translate(0, -2px);
      -webkit-transform: translate(0, -2px);
    }
  }
}

.link-nav {
  background-color: @bg-grey;
  float: left;
  width: 100%;
  p {
    margin-bottom: 0;
    span {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      a {
        color: @text-black;
      }
      &.active {
        a {
          color: @blue;
        }
      }
      &:not(:last-child) {
        &:after {
          content: ">>";
          position: absolute;
          right: -10px;
          top: 11px;
        }
      }
    }
  }
}
